.selector {
  margin: 0 2rem;
  padding: 10px 14px;
  border: 1px solid #cccccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-color: #999;
    transition-duration: 0.3s;
  }

  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }

  .option {
    /* Your option styles */
    color: #333;
    background-color: #fff;
    padding: 8px;
    font-size: 1rem;
  }

  .option:hover {
    /* Hover styles for options */
    background-color: #f0f0f0;
  }
}