.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 13rem;

  &:hover {
    border: 1px solid #b6d0d0;
    cursor: pointer;
  }

  .imageContainer {
    background-color: #ffffff;
    height: 15rem;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 10rem;
    padding: 2rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex: 1;
    flex-direction: row;
    padding: 10px 20px;

    .caption {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
      margin-top: 6px
    }

    .text {
      font-size: 14px;
    }

    .iconButton {
      background: none;
      border: none;
      cursor: pointer;
      width: 2rem;
      color: red;
      scale: 1.5;
    }
  }
}