$full-view: 1024px;

.view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  height: 100vh;

  .detailView {
    display: flex;
    flex-direction: row;
    width: 100%;

    .text {
      margin-bottom: 0.5rem;
      width: 40%;
    }

    .iconButton {
      background: none;
      border: none;
      cursor: pointer;
      width: 2rem;
      color: red;
      scale: 1.5;
    }

    .imageContainer {
      position: relative;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 4rem;

      img {
        padding: 2.5rem;
      }

      .bottomLeftButton {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 10px;
        border: none;
        cursor: pointer;
        padding: 1rem;
        border-radius: 5px;
        background: none;
        width: 2rem;
        color: #2a7013;
        scale: 3;

        &:hover {
          transition-duration: .3s;
          color: #1a490a;
          cursor: pointer;
        }
      }
      @media (max-width: $full-view) {
        margin: 2rem 0;
      }
    }

    .statsSection {
      display: flex;
      flex-direction: row;

      .statItem {
        background-color: #fafafa;
        padding:0 2rem 1rem 2rem;
        border: 1px solid #eaeaea;
        flex-direction: column;
        width: 50%;
        border-radius: 5px;
      }
    }

    .textSection {
      padding: 0 0.5rem;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .progressBar {
      --progress-width: 0%;
      --progress-color: none;
      background: #DEE2E3;
      border: 1px solid #e3e3e3;
      border-radius: 99px;
      height: 10px;
      margin: 2rem 0;
      position: relative;overflow: hidden;

      &::before {
        border-radius: 99px;
        position: absolute;
        height: 10px;
        background: var(--progress-color);
        content: '';
        width: var(--progress-width, 0);
        transition: width .2s;
      }
    }

    @media (max-width: $full-view) {
      flex-direction: column;
    }
  }

  @media (max-width: $full-view) {
    justify-content: center;
    align-items: center;
  }
}