.searchbar {
  padding: 10px 14px;
  min-width: 40%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #111111;
  transition: border-color 0.5s ease-in-out;

  &::placeholder {
    color: #575757;
  }

  &:focus {
    border-color: #bebebe;
  }

  &:active {
    border-color: #bebebe;
  }

  &:hover {
    border-color: #999;
    transition-duration: 0.3s;
  }
}