.homepage {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100vw;
  background-color: #fafafa;
}

.stickySection {
  padding: 1.5rem 1rem;
  position: sticky;
  width: 98vw;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: rgba(35, 35, 35, 0.1) 0 4px 15px 0
}

.pokemonSection {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fetchMoreBtn {
  margin: 4rem auto;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-weight: 500;
  max-width: 20%;
  background-color: #276e10;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  &:hover {
    transition-duration: 0.3s;
    background-color: #215e0d;
    cursor: pointer;
  }
}